* {
box-sizing: border-box;    
}

.outsideContainer {
display: flex;
justify-content: center;
align-items: center;
background-color: black;  
height: 100vh;
width: 100vw;  
}
.calculatorBody {
border: 2px solid white;    
border-radius: 25%;
width: 30vw;
height: 65vh;
display: flex;
flex-direction: column;
align-items: center;
}

.output {
width: 95%;
height: 10vh;
border: 1px solid white;
background-color:whitesmoke ;  
margin-top: 10vh;
border-radius: 35%;  
margin-bottom: 5vh;
display: flex;
justify-content: center;
align-items: center;
}

.buttonsContainer {
display: flex;
justify-content: center;
align-items: start;    
height: 100%;
width: 90%;
}
.buttons,.operators {
display: flex;
flex-direction: column;    
}
.numbers{
display: flex;    
}

button {
width: 6vw;
height: 6vh;    
}

#zero {
width: 12vw;    
}